$scroll-track-color: white;
$scroll-thumb-color: #830100;

.scrollable {
  --_scroll-x-overflow: auto;
  --_scroll-y-overflow: auto;
  --_scroll-padding-inline: 0;

  display: flex;
  flex-direction: column;
  flex: 1 1 1px;

  overflow-x: var(--_scroll-x-overflow);
  overflow-y: var(--_scroll-y-overflow);
  padding-inline: var(--_scroll-padding-inline);

  &--h-hidden {
    --_scroll-x-overflow: hidden;
  }

  &--v-hidden {
    --_scroll-y-overflow: hidden;
  }

  /* Width */
  &::-webkit-scrollbar {
    width: 6px;
    height: 10px;
  }

  /* Arrows */
  &::-webkit-scrollbar-button {
    display: none;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: $scroll-track-color;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scroll-thumb-color;
    border-radius: 16px;
    cursor: grab;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $scroll-thumb-color;
  }

  /* Firefox */
  @supports (-moz-appearance: none) {
    scrollbar-color: $scroll-thumb-color $scroll-track-color;
    scrollbar-width: thin;
  }

  @media print {
    overflow: visible !important;
  }
}
