<div class="wrapper">
  <!-- <span class="name">Регистрация</span> -->
  <div class="register">
    <span class="register__title">Создать аккаунт</span>
    <div class="login">
      <span class="">Уже есть аккаунт?</span>
      <a class="login__button" (click)="toLogin()">Войти</a>
    </div>
    <form [formGroup]="form" class="register__form">
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" [formControl]="form.controls.login">
        <!-- <mat-error *ngIf="email.hasError('required')">Email обязательное поле</mat-error>     -->
        <!-- <mat-error *ngIf="email.hasError('email')">Email не валидный</mat-error>     -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <!-- <mat-error *ngIf="password.hasError('required')">Пароль обязательное поле</mat-error> -->
        <input type="password" matInput formControlName="password" [formControl]="form.controls.password">
      </mat-form-field>
    </form>
    <div class="register__buttons">
      <button mat-flat-button [disabled]="form.invalid" (click)="submit()">Создать аккаунт</button>
    </div>
  </div>
</div>