@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

$tablet-media: 950px;
$phone-media: 500px;

.container {
    display: grid;
    grid-template-columns: 96px 1fr;

    height: 100%;
    margin: 0;

    @media(max-width: $phone-media) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 80px;
    }
}

.main {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 0;
    }

    @media(max-width: $phone-media) {
        grid-column: 1;
        grid-row: 1;
    }
}
