$palette-white: rgba(255, 255, 255);
$palette-white-o50: rgba(255, 255, 255, 0.5);

$palette-dark: rgba(35, 31, 32);
$palette-dark-o25: rgba(35, 31, 32, 0.25);
$palette-dark-o50: rgba(35, 31, 32, 0.5);

$palette-red: rgba(131, 1, 0);
$palette-red-o50: rgba(131, 1, 0, 0.5);

$palette-blue: rgba(0, 120, 240);
$palette-blue-o50: rgba(0, 120, 240, 0.5)
