@use "../../../../../scss/shared/variables";

.tabs {
  background-color: white;

  &__scrollable {
    background-color: variables.$table-background-color;
  }

  &__content {
    padding: variables.$padding-lg;

    display: flex;
    flex-direction: column;
    gap: variables.$padding-lg;
  }
}

h1 {
  margin: 0px;
}
