@forward "scss/theme";
@forward "scss/mixins";

@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;
@use "scss/mixins/typography";

$theme: matx.define-theme(
    (
      color: (
        theme-type: light,
        primary: matx.$m3-red-palette,
        tertiary: matx.$m3-chartreuse-palette,
      ),
      typography: (
        brand-family: "Comic Sans",
        bold-weight: 900
      ),
      density: (
        scale: -1
      )
    )
);

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
}

/* You can add global styles to this file, and also import other style files */
h1 {
  margin: 0px;
}

html, body {
  height: 100%;
  background-color: rgb(228, 228, 228);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .host-class {
//   display: flex;
//   flex-direction: column;
//   flex: 1 1 1px;
// }
